@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="partie1">
    <h2>Partie 1</h2>
    <button id="bouton1" class="btn btn-primary">Bouton 1</button> 
    <div id="reponse1">
        </div>
    </div> 
<div id="partie2"> 
    <h2>Partie 2</h2> 
    <button id="bouton2" class="btn btn-primary">Bouton 2</button>
    <div id="reponse2"></div> 
           </div> 
<div id="partie3">
    <h2>Partie 3</h2>
    <button id="bouton3" class="btn btn-primary">Bouton 3</button>
    <div id="reponse3"></div>
                </div> 
<div id="partie4"> 
    <h2>Partie 4</h2>
    <button id="bouton4" class="btn btn-primary">Bouton 4</button>
    <div id="reponse4"></div> 
</div>
4. Créer une action